body {
font-family: monaco, Consolas, 'Lucida Console', monospace;
color:black;
}

.section {
    text-align:center;
}

.stand-out {
color:black!important;
}


footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

img.me {
    border-radius: 50%;
    width: 286px;
}