@{    ViewBag.Title = "Home Page 1231231";
}
<div id="fullpage">

    <div class="section" style="" data-anchor="f">
   
        <h1 class="stand-out">Kashmere</h1>
    </div>


    <div class ="section" style="background:url('/Images/kash-patch-bg.jpg') no-repeat center 46%;background-size:cover;">
        

        Section 2

        @Html.Action("Index", "Blog")

    </div>

    <div class="section" style="background:url('/Images/kash-crew-bg.jpg') no-repeat center center;background-size:cover;"> 
        Section 3

    </div>

</div>


@section scripts {
    <script>

            $('#fullpage').fullpage({
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Kashmere', 'What\'s On', 'About'],
                anchors: ['f', 's', 't']
            });

    </script>

}

