@{
    ViewBag.Title = "Sean-Donnelly";
    Layout = "~/Views/Shared/_Layout_Donn.cshtml";
}

<div class="main-wrapper">
   <img class="me" src="Images/me.jpg" />


    <div class="artical-wrap">
        <h3>About Me</h3>
        <div class="artical">
            <p>My name is Sean Donnelly, I'm a software developer living and working in Manchester UK. I graduated in 2015 with a First-class BSc (Hons) in Sofware Engineering and now have three years professional experience working as a .Net developer for an E-Commerce company. Over the last three years I've worked on some really interesting products and explored some cool technologies which you might not traditionally associate with classic .Net development. In my spare time I enjoy cycling, live music, travelling and of course programming.</p>
            <br />

        </div>
    </div>
</div>



@*@section closehead{
    @Html.Raw("}")
}*@
