################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DonnAdapter/bin/Debug
/DonnBusiness/bin/Debug
/DonnDomain/bin/Debug
/DonnTests/bin/Debug
/MvcApplication1/bin
